@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    font-family: 'Roboto';
    
}

html {
    background: url(images/background.jpg);
    background-attachment: fixed;
    background-repeat: none;
}
body {
   
    box-sizing: border-box;
    
   
}
html,body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-flow: column;
}

div#content {
    
    flex: 1 1 auto;
   
    
}

.home-container {
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    animation: fadeIn .75s;
}

.restaurant-name-text {
    font-size: 64px;
    font-weight: bolder;
    color: white;
}

.restaurant-desc {
    font-size: 32px;
    font-style: italic;
    color: white;
}

.middle-button-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.contact-btn,
.menu-btn {
    color: white;
    
    background-color: transparent;
    border: solid 4px black;
    width: 175px;
    height: 100px;
    transition: .1s;
    cursor: pointer;
}

.contact-btn:hover,
.menu-btn:hover {
    transform: scale(1.05);
}

.contact-btn p {
    margin: 0;
}

.contact-btn {
    border-color: white;
    font-size: 22px;
    font-weight: bold;
}

.menu-btn {
    font-size: 36px;
    
    border-color: rgb(197, 197, 0);
}

.header{
   
    width: 100%;
    background-color: rgba(0, 0, 0, 0.355);
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-list {
    
    list-style: none;
    display: flex;
    margin: 0;
    color: white;
    gap: 36px;
    font-size: 30px;

    cursor: pointer;
    
}



.menu-list li:hover {
    
    transform: scale(1.1);
}

.restaurant-name-headertxt {
    color: white;
    font-weight: bolder;
    font-size: 54px;
}

.selected {
    border-bottom: solid 2px white;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    animation: fadeIn .75s;
    
}

.contact-box {
    background-color: rgba(0, 0, 0, 0.355);
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
    font-size: 24px;
}

.contact-box p {
    margin: 0
}


@keyframes fadeIn {
    0% { opacity: 0;}
    100% {opacity: 100;}
}



